[submodule "src/backend"]
	path = src/backend
	url = https://github.com/TrieuMinhNhat/news-app.git
[submodule "src/frontend"]
	path = src/frontend
	url = https://github.com/TrieuMinhNhat/news-app-front-end.git
[submodule "references/Threads-Scraper"]
	path = references/Threads-Scraper
	url = https://github.com/Zeeshanahmad4/Threads-Scraper.git
[submodule "references/news-crawler"]
	path = references/news-crawler
	url = https://github.com/haianh63/news-crawler.git
